* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 12rem;
}

:root {
    --main: rgb(254, 187, 143);
    --background: rgb(255, 255, 255);
    --color001: rgba(0, 0, 0, 0.804);
    --color001-t: rgba(0, 0, 0, 0.306);
    --fontsize001: clamp(40px, 8vw, 140px);

    --fontstyle001: ;
    --fontstyle002: ;
}

body {
    background: var(--background);
}

a {
    text-decoration: none;
    color: inherit;
}

.navigation {
    position: sticky;
    top: 0;
    background: black;
    display: flex;
    align-items: center;
    height: 6rem;
    justify-content: space-between;
    z-index: 50;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 4em;
}

.navigation ul li {
    color: var(--main);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--color001-t), var(--color001)), url(image/image6.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    color: rgb(16, 0, 19);

}

.hero .container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.hero .container h1 {
    font-size: var(--fontsize001);
    color: var(--background);
    text-shadow: 0px 0px 8px var(--color001);

}

.hero .container .btn {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
}

.hero .container .btn a {
    display: inline-flex;
    background: var(--background);
    padding: 1em;
    width: 100%;
    max-width: 30rem;
    justify-content: center;
}

.hero .container .btn a:nth-child(1) {
    background: var(--main);
    color: var(--);
}

.apply {
    height: 60vh;
    display: flex;
}

.apply .container {
    display: flex;
    width: 100%;
}

.apply .container .img {
    width: 50%;
    background-color: var(--main);
    background: url(image/image4.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.apply .container .content {
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: left;
    width: 50%;
    background: var(--main);
}

.apply .container .content .btn {
    background: var(--color001);
    color: var(--main);
    padding: 1em;
    max-width: 28em;
    border: 1px solid var(--main);
    border-radius: 4px;
}




.carousel {
    display: flex;
    height: 80vh;
    align-items: center;
}

.carousel .container {
    overflow: auto;
    display: inline-flex;
    gap: 1em;
    padding: 0;
    width: 100%;
    will-change: transform;
}

.carousel .container::-webkit-scrollbar {
    display: none;
}

.carousel .container .cards {
    display: flex;
    flex-direction: column;
    flex: 0 0 20rem;
}

.carousel .container .cards .img {
    height: 24rem;
    width: 100%;
}

.carousel .container .cards:nth-child(1) .img {
    background: url(image/image1.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel .container .cards:nth-child(2) .img {
    background: url(image/image2.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel .container .cards:nth-child(3) .img {
    background: url(image/image5.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel .container .cards:nth-child(4) .img {
    background: url(image/image12.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel .container .cards:nth-child(5) .img {
    background: url(image/image15.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel .container .cards:nth-child(6) .img {
    background: url(image/image16.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel .container .cards .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* Pushes button to the bottom */
    flex: 1;
    /* Makes all content boxes equal height */
    width: 100%;
    background: var(--main);
    padding: 1em;
}

.carousel .container .cards .content .btn {
    background: var(--color001);
    width: 100%;
    max-width: 18em;
    height: 4em;
    color: var(--main);
    border: none;
    border-radius: 4px;
}



.gallery {
    display: flex;
    height: 80vh;
    align-items: center;
    padding: 1em;
    background: var(--color001);
}

.contact {
    height: 50vh;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.footer {
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.footer .container {
    background: var(--main);
    width: 100%;
    height: 100%;
}

.footer .copyright {

    background: var(--main);
    padding-left: 1em;
}

/* THE INFINITE SCROLL KEYFRAME */
@keyframes spin {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
        /* Half the container width */
    }
}

@media (width <=860px) {
    .navigation ul {

        display: none;
    }

    .carousel {
        height: 100vh;
    }


}