* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 12rem;
}

:root {
    --main: rgb(254, 187, 143);
    --background: rgb(255, 255, 255);
    --color001: rgba(0, 0, 0, 0.804);
    --color001-t: rgba(0, 0, 0, 0.306);
    --color002: rgb(0, 0, 0);
    --color003: rgb(243, 243, 243);
    --fontsize001: clamp(40px, 8vw, 140px);
    --fontsize002: clamp(12px, 0.8vw, 20px);

    --fontstyle001: "Gelasio", serif;
    ;
    --fontstyle002: ;
}

body {
    background: var(--background);
}

a {
    text-decoration: none;
    color: inherit;
}

.navigation {
    position: sticky;
    top: 0;
    display: flex;
    background: var(--color002);
    align-items: center;
    justify-content: center;
    height: 6rem;
    z-index: 50;
}

.navigation .container {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.navigation .container .btn {
    padding: 0.5rem 2rem;
    border: 1px solid var(--background);
    color: var(--background);
}

.navigation .container h2 {
    color: var(--main);

}

.navigation .container ul {
    list-style: none;
    display: flex;
    gap: 4em;
}

.navigation .container ul li {
    color: var(--main);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--color001-t), var(--color001)), url(image/image16.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    color: rgb(16, 0, 19);

}

.hero .container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
}

.hero .container h1 {
    font-size: var(--fontsize001);
    font-family: var(--fontstyle001);
    color: var(--background);
    text-shadow: 0px 0px 8px var(--color001);

}

.hero .container .btn {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
}

.hero .container .btn a {
    display: inline-flex;
    background: var(--background);
    padding: 1em;
    width: 100%;
    max-width: 30rem;
    justify-content: center;
}

.hero .container .btn a:nth-child(1) {
    background: var(--main);
    color: var(--);
}

.apply {
    height: 60vh;
    display: flex;
}

.apply .container {
    display: flex;
    width: 100%;
}

.apply .container .img {
    width: 50%;
    background-color: var(--main);
    background: url(image/image4.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.apply .container .content {
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: left;
    width: 50%;
    background: var(--main);
}

.apply .container .content .btn {
    background: var(--color001);
    color: var(--main);
    padding: 1em;
    max-width: 28em;
    border: 1px solid var(--main);
    border-radius: 4px;
}




.carousel {
    display: flex;
    height: 80vh;
    align-items: center;
}

.carousel .container {
    overflow: auto;
    display: inline-flex;
    gap: 1em;
    padding: 0;
    width: 100%;
    will-change: transform;
}

.carousel .container::-webkit-scrollbar {
    display: none;
}

.carousel .container .cards {
    display: flex;
    flex-direction: column;
    flex: 0 0 20rem;
}

.carousel .container .cards .img {
    height: 24rem;
    width: 100%;
}

.carousel .container .cards:nth-child(1) .img {
    background: url(image/image1.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel .container .cards:nth-child(2) .img {
    background: url(image/image2.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel .container .cards:nth-child(3) .img {
    background: url(image/image5.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel .container .cards:nth-child(4) .img {
    background: url(image/image12.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel .container .cards:nth-child(5) .img {
    background: url(image/image15.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel .container .cards:nth-child(6) .img {
    background: url(image/image16.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel .container .cards .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* Pushes button to the bottom */
    flex: 1;
    /* Makes all content boxes equal height */
    width: 100%;
    background: var(--main);
    padding: 1em;
}

.carousel .container .cards .content .btn {
    background: var(--color001);
    width: 100%;
    max-width: 18em;
    height: 4em;
    color: var(--main);
    border: none;
    border-radius: 4px;
}



.gallery {
    display: grid;
    grid-template-rows: auto;

    align-items: center;
    padding: 1em;
    background: var(--color003);
    gap: 2em;
}

.gallery .container {
    display: flex;
    max-width: 100%;
    overflow-y: hidden;
    gap: 1em;
}

.gallery .container::-webkit-scrollbar {
    display: none;
}

.gallery .container:nth-child(1) {
    grid-row: 1;
}

.gallery .container:nth-child(2) {
    grid-row: 2;
}

.gallery .container:nth-child(3) {
    grid-row: 3;
}

.gallery .container .cards {
    display: flex;
    flex: 0 0 20em;
    width: 100%;
    height: 12em;

}

.gallery .container:nth-child(1) .cards:nth-child(1) {
    background: url(image/image16.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(1) .cards:nth-child(2) {
    background: url(image/image17.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(1) .cards:nth-child(3) {
    background: url(image/image15.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(1) .cards:nth-child(4) {
    background: url(image/image14.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(1) .cards:nth-child(5) {
    background: url(image/image13.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(1) .cards:nth-child(6) {
    background: url(image/image12.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(1) .cards:nth-child(1) {
    background: url(image/image16.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(1) .cards:nth-child(2) {
    background: url(image/image17.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(1) .cards:nth-child(3) {
    background: url(image/image15.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(1) .cards:nth-child(4) {
    background: url(image/image14.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(1) .cards:nth-child(5) {
    background: url(image/image13.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(1) .cards:nth-child(6) {
    background: url(image/image12.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(1) .cards:nth-child(7) {
    background: url(image/image11.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(1) .cards:nth-child(8) {
    background: url(image/image10.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(1) .cards:nth-child(9) {
    background: url(image/image9.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* second gallery */

.gallery .container:nth-child(2) .cards:nth-child(1) {
    background: url(image/image16.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(2) .cards:nth-child(2) {
    background: url(image/image17.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(2) .cards:nth-child(3) {
    background: url(image/image15.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(2) .cards:nth-child(4) {
    background: url(image/image14.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(2) .cards:nth-child(5) {
    background: url(image/image13.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(2) .cards:nth-child(6) {
    background: url(image/image12.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(2) .cards:nth-child(6) {
    background: url(image/image12.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(2) .cards:nth-child(7) {
    background: url(image/image11.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(2) .cards:nth-child(8) {
    background: url(image/image10.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(2) .cards:nth-child(9) {
    background: url(image/image9.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* third gallery */

.gallery .container:nth-child(3) .cards:nth-child(1) {
    background: url(image/image16.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(3) .cards:nth-child(2) {
    background: url(image/image17.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(3) .cards:nth-child(3) {
    background: url(image/image15.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(3) .cards:nth-child(4) {
    background: url(image/image14.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(3) .cards:nth-child(5) {
    background: url(image/image13.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(3) .cards:nth-child(6) {
    background: url(image/image12.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(3) .cards:nth-child(6) {
    background: url(image/image12.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(3) .cards:nth-child(7) {
    background: url(image/image11.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(3) .cards:nth-child(8) {
    background: url(image/image10.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container:nth-child(3) .cards:nth-child(9) {
    background: url(image/image9.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.contact {
    height: 50vh;
    position: fixed;
    bottom: 2rem;
    right: 1.5rem;
    width: 4rem;
    height: 4rem;
    z-index: 49;
}

.contact button {
    border: none;
    border-radius: 4px;
    background: var(--color002);
    width: 100%;
    height: 100%;
}

.contact button svg {

    color: white;
}

.contact .container {
    display: none;
}

.contact .container form {
    display: flex;
    flex-direction: column;
}




.footer {
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.footer .container {
    background: var(--color002);
    width: 100%;
    height: 100%;
}

.footer .copyright {
    display: flex;
    justify-content: center;
    background: var(--main);
    font-size: var(--fontsize002);
    padding-left: 1em;
    padding: 0.3rem;
}

/* THE INFINITE SCROLL KEYFRAME */
@keyframes spin {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
        /* Half the container width */
    }
}

@media (width <=860px) {
    .navigation .container ul {

        display: none;
    }

    .carousel {
        height: 100vh;
    }

    .contact {
        right: 1rem;

        width: 3em;
        height: 3em;
        z-index: 49;
    }


}