.projectlist {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
}

.projectlist .sideCard {
    grid-column: 1;
    grid-row: 1;
    background: var(--col001);
    width: 20em;
    max-height: fit-content;
    border-radius: 0 0 1em 1em;
    padding: 1em;
    margin-left: 1em;
    text-align: center;
}

.projectlist .sideCard h2 {
    color: var(--mainColor);
    font-size: 2em;
    padding: 1em;
}

.projectlist .sideCard ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.projectlist .sideCard ul li a {
    display: block;
    padding: 1em;
    font-size: 1.2em;
    background: var(--col004);
    color: var(--mainColor);
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color var(--transitions);
    border-left: 4px solid var(--mainColor);

}

.projectlist .sideCard ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--mainColor);
    transform: scaleX(0);
    transform-origin: left;

    transition: transform var(--transitions);
    z-index: -1;
}

.projectlist .sideCard ul li:hover a {
    color: var(--col001);
}

.projectlist .sideCard ul li:hover a::before {
    transform: scaleX(1);
}


.projectlist .mainCards {
    grid-column: 2;
    grid-row: 1;
    margin-right: 1em;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.projectlist .mainCards .lookup {
    grid-row: 1;
    padding: 2em;
    background: var(--col001);
}

.projectlist .mainCards .lookup input[type="search"] {


    border: 2px solid var(--mainColor);
    border-radius: 3px;
    background: var(--col004);
    padding: 1em;
    outline: none;
    font-size: 1em;
    color: var(--mainColor);
    width: 44em;
    height: 3.5em;
}

.projectlist .mainCards .lookup input[type="submit"] {
    border: 2px solid var(--mainColor);
    border-radius: 3px;
    background: var(--col004);
    padding: 1em;
    outline: none;
    font-size: 1em;
    color: var(--mainColor);
    width: 12em;
    height: 3.5em;
    cursor: pointer;
}


.projectlist .mainCards .cards {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    background-color: var(--col003);
    transition: var(--transitions);
    padding: 1em;
    justify-content: center;
    margin: 1em;
    min-height: 4em;
    border-radius: 5px;
    border-left: 4px solid var(--col001);
}

.projectlist .mainCards .cards p {
    font-size: 1.2rem;
}

.projectlist .mainCards .cards a {
    background: var(--col001);
    color: var(--mainColor);
    padding: 1em;
    text-align: center;
    font-size: 1.2em;
    max-width: 20em;
    border: none;
    border-radius: 3px;

}

.projectlist .mainCards .cards a:hover {
    transform: translateX(5px);

}

.projectlist .cards:hover {
    box-shadow: 0px 0px 5px 5px var(--sh001);
}