@import url('utility.css');




.hero {

    min-width: 0;
    height: 100vh;
    color: var(--color005);
    position: relative;
    padding: 180px 0;
    overflow: hidden;
    border-bottom: 1px solid var(--color007);
}

.hero .container {
    grid-column: 1;
    grid-row: 2;
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;

}

.hero .container h1 {
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    font-size: var(--font002);
    line-height: 1.1;
}

.hero .container p {
    font-family: "Google Sans Flex", sans-serif;
    font-size: 16px;
    color: var(--color003);
    max-width: 460px
}

.hero .container h1 span {
    color: var(--color004);
}

.hero .container div {
    display: flex;
    gap: 16px;
    margin-top: 36px;
    flex-wrap: wrap;
    align-items: center;
}

.hero .container div .btn {
    display: inline-block;
    text-align: center;
    gap: 8px;
    width: 28em;
    padding: 1em;
    min-width: 0;
    text-decoration: none;
    font-weight: 400;
    font-size: 13.5px;
    border-radius: 2px;
    font-family: "Bebas Neue", sans-serif;

    font-style: normal;

    text-transform: uppercase;
    transition: transform .18s;
}

.hero .container div .main-btn {
    background: var(--color004);
    color: var(--color001);
}

.hero .container div .explore-btn {
    background: transparent;
    border-bottom: 1px solid var(--color005);
    color: var(--color005);

}

.experiance {
    height: 4vh;
}

.explore {
    padding: 100px 0;
    height: 100px;
    background: var(--color005);
    color: var(--color001);
}