@import url('utility.css');

* {
    box-sizing: border-box;
}



.hero {
    display: flex;
    min-width: 0;
    height: 100vh;
    color: var(--color005);
    padding: 1em;
    justify-content: center;
}

.hero .container {
    display: flex;
    padding: 4em;
    height: 100%;
    max-width: 80em;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.hero .container h1 {
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    font-size: var(--font002);
    line-height: 1.1;
}

.hero .container p {
    font-family: var(--fontStyle002);
    font-size: 16px;
    color: var(--color003);
    max-width: 460px
}

.hero .container h1 span {
    color: var(--color004);
}

.hero .container div {
    display: flex;
    gap: 16px;
    margin-top: 36px;
    flex-wrap: wrap;
    align-items: center;
}

.hero .container div .btn {
    display: inline-block;
    text-align: center;
    gap: 8px;
    padding: 1rem;
    width: 28rem;
    min-width: 0;
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    border-radius: 2px;
    font-family: var(--fontStyle001);
    font-style: normal;
    text-transform: uppercase;
    transition: transform var(--transitions);
}

.hero .container div .main-btn {
    background: var(--color004);
    color: var(--color001);
    transition: var(--transitions);
}

.hero .container div .main-btn:hover {
    transform: translateY(-5px);
    background: var(--color008);
}

.hero .container div .explore-btn {

    position: relative;
    z-index: 1;

    /* ✅ Ensures the button itself is see-through */
    border-bottom: 2px solid var(--color005);
    color: var(--color005);
    transition: var(--transitions);

}

.hero .container div .explore-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color005);

    transform: scaleY(0);

    transform-origin: bottom;
    transition: transform var(--transitions);
    z-index: -1;

}

.hero .container div .explore-btn:hover::before {
    transform: scaleY(1);
}

.hero .container div .explore-btn:hover {
    color: var(--color001);
}



.experiance {
    padding: 2em 1em;
    border-top: 1px solid var(--color007);
    border-bottom: 1px solid var(--color007);
}

.experiance .container {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 2em;


}

.experiance .card {

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 20rem;



}

.experiance .card p {
    color: var(--color004);
    width: 14rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 2rem;
    font-size: 3rem;
    line-height: 46px;
    font-family: var(--fontStyle001);
}



.experiance .container span {
    background: var(--color007);
    width: 2px;
}

/* Why hire section me style */
.why-hire-me {
    min-height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    gap: 2em;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.why-hire-me .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    gap: 4em;

}

.why-hire-me .container .card {
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 38rem;
}

.why-hire-me .container .card h2 {
    padding: 0.5rem 1rem;

    font-family: var(--fontStyle001);
    font-size: var(--font004);
    letter-spacing: 2px;
    border-bottom: 2px solid var(--color004);
}

.why-hire-me .container h2 span {
    color: var(--color004);
}

.why-hire-me .container .benefits-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;

}

img {}

.why-hire-me .container .benefit-item-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    grid-column: 1;
    grid-row: 0;
}

.benefit-item {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: fit-content;
    border-radius: 4px;
    padding: 1em;
    gap: 1em;

}

.benefit-item p {
    color: var(--color003);
    font-size: 18px;
    font-family: var(--fontStyle002);
}

/* Explore style */
.explore {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background: var(--color005);
    color: var(--color001);
    align-items: center;


}

.explore .container {
    display: flex;
    max-width: 90em;
    width: 100%;
    height: 60vh;
    gap: 1em;
}

.display-work {
    display: flex;
    justify-content: space-between;
    width: 100%;

    align-items: center;
    gap: 1em;
    padding: 1em;
}

.display-work button {
    content: '>';
    color: var(--color001);
    background: transparent;
    border: 2px solid var(--color004);
    width: 4em;
    height: 4em;

    border-radius: 5em;
}

.display-work div {
    display: flex;
    overflow: hidden;
    gap: 2em;
}

.display-work div img {
    width: 15em;
}

.explore .container .portfolio-btn {
    display: inline-block;
    padding: 1rem 5rem;

    background: var(--color001);
}


/* contact form style */
.contact {
    display: none;
    justify-content: center;
    padding: 1em;
    background: var(--color004);
    align-items: center;
}

.contact .container {


    display: flex;
    flex-direction: column;
    max-width: 80em;
    width: 100%;
    justify-content: center;
    align-items: center;

    background: var(--color001);
    border-radius: 1rem;
    padding: 2rem;
    gap: 1rem;
    transform: translateY(100px);
    font-family: var(--fontStyle002);
    font-size: 1.2rem;


}


.contact .container form {
    width: 80%;
    max-width: 60rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-family: var(--fontStyle002);
    transition: var(--transitions);

}

.contact .container form label {
    color: var(--color003);
}

.contact .container form input {
    width: 100%;
    height: 3rem;
    padding-left: 1em;
    font-size: 1.2rem;
    font-family: var(--fontStyle002);
    color: var(--color005);
    background: var(--color001);
    outline: none;
    border: none;

    border-bottom: 2px solid var(--color004);
}

.contact .container form input::placeholder,
.contact .container form textarea::placeholder {
    color: var(--color005);
}

.contact .container form textarea {
    border: none;
    resize: none;
    height: 5rem;

    background: var(--color001);
    color: var(--color005);
    outline: none;
    padding: 1rem;
    font-size: 1.2rem;
    font-family: var(--fontStyle002);
    border-bottom: 2px solid var(--color004);

}

.contact .container form button[type="submit"] {
    max-width: 30rem;
    height: 3rem;
    font-size: 1.2rem;
    font-family: var(--fontStyle002);
    color: var(--color005);
    background: var(--color001);
    border: none;

    border: 2px solid var(--color004);
}

.hireme{
    display: flex;
    height: 12em;
    background: linear-gradient(30deg, var(--color009), var(--color010));
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.hireme .container{
    display: flex;
    width: 100%;
    max-width: 90em;
    align-items: center;
    justify-content: space-between;
    color: var(--color001);;
    
}

.hireme .container .upworklogo {
    
    max-height: 8rem;
}
.hireme .container .upworklogo path {
    fill: var(--color001);
}
.hireme .container div {
    font-family: var(--fontStyle001);
    font-size: 1.4rem;

}
.hireme .container .btn{
    display: flex;
    width: 20rem;
    padding: 1rem;
    justify-content: space-between;
    font-size: 1.2rem;
    font-family: var(--fontStyle001);
    align-items: center;
    border:none;
    border-radius: 4px;
    color:var(--color001);
    background: linear-gradient(30deg, var(--color011), var(--color010), var(--color009));
    background-size: 400% 400%;
    animation: changeColor 15s linear infinite ;
}

@keyframes changeColor {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.hireme .container .btn svg {
    width: 2rem;
}


.footer {
    height: 50vh;
    padding-top: 10em;
}

.footer .container {
    background: var(--color002);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright {
    display: flex;
    flex-direction: column;
    background: var(--color004);
    align-items: center;

}

.copyright p {
    color: var(--color001);
    font-family: var(--fontStyle002);
    font-size: var(--font003);
    font-weight: 500;
}

@media (width <=760px) {
    .hero .container {
        padding: 2em;
    }

    .hero .container div .btn {
        width: 100%;
        max-width: 100%;
        flex: 0 0 auto;
    }

    .experiance .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .experiance .container span {
        width: 20em;
        height: 1px;
    }

    .benefits-grid {
        display: flex;
        flex-direction: column;
    }

    .display-work {
        display: none;
    }

    .contact {
        padding: 1em;
    }

    .contact .container {
        padding: 1em;
    }

    .contact .container form {
        width: 100%;
    }


}