:root {
    --mainColor: rgb(253, 221, 181);
    --col001: rgb(17, 8, 0);
    --col001-T: rgba(7, 3, 0, 0.96);
    --col002: rgb(255, 140, 0);
    --col003: rgb(255, 237, 217);
    --sh001: rgba(170, 129, 78, 0.593);
    --transitions: 500ms ease-in-out;
    --col004: rgb(89, 46, 10);
    --col005: rgb(253, 247, 242);
    --col006: rgb(231, 226, 221);
    --col007: rgb(135, 132, 129);
    --col008: rgb(244, 0, 0);
    --col009: rgb(0, 171, 31);
    --col010: rgb(182, 182, 182);

}

body {
    background: var(--col003);
}

.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container .card {
    grid-column: 2;
    grid-row: 2;
    background: var(--col005);
    width: 44em;
    min-height: 20em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
    box-shadow: 0px 0px 16px var(--col006);
    gap: 1em;

}

.container .card h1 {
    border-bottom: 4px solid;

}

.container .card blockquote {

    min-height: 5em;
    width: fit-content;
    display: flex;
    font-size: 1.6rem;
    align-items: center;

}

.container .card blockquote::before,
.container .card blockquote::after {
    content: '"';
}

.container .card span {

    text-align: right;
    width: 100%;
    color: var(--col004);
    font-size: 1.4rem;
    padding-right: 4em;

}

.container .card span::before {
    content: '-';

}

.container .card div {
    display: flex;
    gap: 1em;
}

.container .card div button {
    border: none;
    border-radius: 30px;
    width: 20rem;
    background: var(--col007);
    color: var(--col001);
    font-weight: 500;
    font-size: 1.2rem;
    height: 4rem;
}

.container .card div button:hover {
    background: var(--col010);
}

.container .card div button:active {
    background: var(--col006);
}